<header>
  <nav class="nav d-flex align-items-center bg-red bg-secondary text-white p-3">
    <h1>Welcome</h1>
    <ul class="d-flex">
      <li><a href="/account">Login</a></li>
      <li><a href="/account">Signu</a></li>
    </ul>
  </nav>
</header>
