<style>
  nav {
    height: 7vh;
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }

  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    align-self: center;
  }

  ul {
    flex: 3;
  }

  h1 {
    flex: 1;
  }

  .summary {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
  }

  nav ul li {
    padding: 0 0.5rem;
    display: inline-block;
  }

  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: medium;
  }

  nav ul li a:hover {
    color: #ddd;
    font-size: large;
    transition: all 0.5s ease;
  }
</style>
<header>
  <nav>
    <h1>Welcome</h1>
    <% if(isLoggedIn){ %>
      <ul>
        <li><a href="/users/dashboard">Dashboard</a></li>
        <li><a href="/agents">Agents</a></li>
        <li><a href="/users/summary">Summary</a></li>
      </ul>
      <div class="summary">
        Welcome User
        <button class="btn btn-primary logout">
        <a href="/users/logout" class="text-decoration-none text-white">Logout</a>
        </button>
      </div>
    <% } %>
  </nav>
</header>
<script>
  // const logout = document.querySelector(".logout");

  // function deleteCookies() {
  //   const allCookies = document.cookie.split(";");
  //   for (var i = 0; i < allCookies.length; i++)
  //     document.cookie = allCookies[i] + "=;expires=" + new Date(0).toUTCString();
  // }
  // logout.addEventListener("click", () => {
  //   localStorage.clear();
  //   window.location.href = "/users/login";
  //   deleteCookies();
  // });
</script>
